includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - Command
        - Model
        - Wikidata
        - process.php
    fileExtensions:
        - php
    level: 8
    reportUnmatchedIgnoredErrors: true
    reportMaybesInPropertyPhpDocTypes: false
    ignoreErrors:
        - identifier: missingType.iterableValue
